<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lupa Password</ion-title>
        <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="forgot-container">
    <div class="header-section">
      <h1>Lupa Password?</h1>
      <p>Masukkan email Anda di bawah,Untuk ganti password baru.</p>
    </div>

    <div class="input-section">
      <ion-item lines="none" class="custom-input">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input type="email" placeholder="Email Terdaftar" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-button expand="block" shape="round" class="btn-reset" (click)="resetPassword()">
        Kirim Email Reset
      </ion-button>
    </div>
  </div>
</ion-content>